node_modules
sandbox/**/screenshots
sandbox/**/snapshots

/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

# Swap the comments on the following lines if you wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !/.yarn/cache
/.pnp.*

node_modules
report.*.json
.vscode/*
!.vscode/extensions.json
.DS_Store
*.log
report.*.json
junit.xml
__generated__
.env

